---
username: "test_user"
user_public_keys:
  - "ssh-ed25519 AAAA...fMo"
  - "ssh-rsa AAAA...4I3"
network_wifi_ssid: "TEST_WIFI_SSID"
network_wifi_pass: "TEST_WIFI_PASS"
ssh_port: 39901

timezone: "UTC"

locales:
  - "en_US.UTF-8 UTF-8"
  - "de_DE.UTF-8 UTF-8"
locales_lang: "en_US.UTF-8"
locales_language: "en_US.UTF-8"
locales_lc_time: "de_DE.UTF-8"
locales_time_style: "iso"
locales_lc_collate: "C.UTF-8"

password_policy_enabled: true
password_policy_minlen: 8
password_policy_dcredit: 1
password_policy_ucredit: 1
password_policy_ocredit: 1
password_policy_lcredit: 1
password_policy_minclass: 4
password_policy_maxrepeat: 3
password_policy_maxclassrepeat: 0
password_policy_gecoscheck: 0

wireguard_autostart_connection: "wg-vpn0"
wireguard_connections:
  wg-vpn0: |
    [Interface]
    PrivateKey = your_private_key_here
    Address = 10.2.0.2/32
    DNS = 10.2.0.1

    [Peer]
    PublicKey = server_public_key
    AllowedIPs = 0.0.0.0/0
    Endpoint = vpn.com:51820
