/* vim: set filetype=css.ansible : */
@import "{{ ansible_facts['env']['HOME'] }}/.config/hyprtheme/current/syshud.css";

#syshud {
	background: transparent;
	color: @theme_fg_color;
}

#syshud .box_layout {
	background: @theme_bg_color;
	border-radius: 5px;
	border: 2px solid @borders;
	margin: 10px;
}

#syshud scale {
	margin: 0px;
	padding: 0px;
}
#syshud label {
	color: @theme_fg_color;
}

/* Scale */
#syshud scale {
	padding: 0px;
	min-height: 5px;
	min-width: 5px;
}
#syshud scale trough {
	border-radius: 0px;
	background: alpha(currentColor, 0.1);
	min-height: 5px;
	min-width: 5px;
	padding: 0px;
}
#syshud scale.horizontal highlight {
	border-radius: 0px;
	min-height: 5px;
	min-width: 1px;
	background: alpha(@theme_fg_color, 0.75);
	margin: 0px;
}
#syshud scale slider {
	background: transparent;
  outline-color: transparent;
  border-color: transparent;
  color: transparent;
  box-shadow: none;
}

/* Levels */
#syshud .muted {
}
#syshud .low {
}
#syshud .medium {
}
#syshud .high {
}
