---
- name: "Ensure hyprland packages are installed"
  become: true
  ansible.builtin.package:
    name: "{{ item }}"
    state: "present"
  loop:
    - "swaybg"
    - "hyprlock"
    - "hypridle"
    - "hyprland"
    - "xdg-desktop-portal-gtk"
    - "xdg-desktop-portal-hyprland"

- name: "Configure greetd"
  become: true
  ansible.builtin.copy:
    dest: "/etc/greetd/config.toml"
    owner: "greeter"
    group: "greeter"
    mode: "0644"
    content: |
      [terminal]
      vt = 2
      [default_session]
      command = "tuigreet -c 'uwsm start hyprland.desktop' --theme=border=cyan"
      user = "greeter"
  notify:
    - "Restart greetd"

- name: "Create system config directory"
  become: true
  ansible.builtin.file:
    path: "/etc/hypr"
    state: "directory"
    mode: "0755"
  loop:
    - "{{ ansible_facts['env']['HOME'] }}/.config/hypr"

- name: "Configure system defaults"
  become: true
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: "0644"
  loop:
    - src: "hyprland/autostart.conf.j2"
      dest: "/etc/hypr/autostart.conf"
    - src: "hyprland/monitors.conf.j2"
      dest: "/etc/hypr/monitors.conf"
    - src: "hyprland/input.conf.j2"
      dest: "/etc/hypr/input.conf"
    - src: "hyprland/bindings.conf.j2"
      dest: "/etc/hypr/bindings.conf"
    - src: "hyprland/envs.conf.j2"
      dest: "/etc/hypr/envs.conf"
    - src: "hyprland/looknfeel.conf.j2"
      dest: "/etc/hypr/looknfeel.conf"
    - src: "hyprland/rules.conf.j2"
      dest: "/etc/hypr/rules.conf"
    - src: "hyprland/hyprlock.conf.j2"
      dest: "/etc/hypr/hyprlock.conf"
    - src: "hyprland/hypridle.conf.j2"
      dest: "/etc/hypr/hypridle.conf"
    - src: "hyprland/hyprland.conf.j2"
      dest: "/etc/hypr/hyprland.conf"
