---
- name: "Ensure hyprland packages are installed"
  become: true
  ansible.builtin.package:
    name: "{{ item }}"
    state: "present"
  loop:
    - "swaybg"
    - "hyprlock"
    - "hypridle"
    - "hyprpicker"
    - "hyprsunset"
    - "hyprshot"
    - "hyprland"
    - "xdg-desktop-portal-gtk"
    - "xdg-desktop-portal-hyprland"

- name: "Configure greetd"
  become: true
  ansible.builtin.copy:
    dest: "/etc/greetd/config.toml"
    owner: "greeter"
    group: "greeter"
    mode: "0644"
    content: |
      [terminal]
      vt = 2
      [default_session]
      command = "tuigreet -c 'uwsm start hyprland.desktop' --theme=border=cyan"
      user = "greeter"
  notify:
    - "Restart greetd"

- name: "Create config directories"
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: "directory"
    mode: "0755"
  loop:
    - "/etc/hypr"
    - "/etc/hypr/scripts"
    - "{{ ansible_facts['env']['HOME'] }}/.config/hypr"

- name: "Configure system defaults"
  become: true
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: "0644"
  loop:
    - src: "autostart.conf.j2"
      dest: "/etc/hypr/autostart.conf"
    - src: "monitors.conf.j2"
      dest: "/etc/hypr/monitors.conf"
    - src: "input.conf.j2"
      dest: "/etc/hypr/input.conf"
    - src: "bindings.conf.j2"
      dest: "/etc/hypr/bindings.conf"
    - src: "envs.conf.j2"
      dest: "/etc/hypr/envs.conf"
    - src: "looknfeel.conf.j2"
      dest: "/etc/hypr/looknfeel.conf"
    - src: "rules.conf.j2"
      dest: "/etc/hypr/rules.conf"
    - src: "hyprlock.conf.j2"
      dest: "/etc/hypr/hyprlock.conf"
    - src: "hypridle.conf.j2"
      dest: "/etc/hypr/hypridle.conf"
    - src: "hyprland.conf.j2"
      dest: "/etc/hypr/hyprland.conf"

- name: "Configure user defaults"
  block:
    - name: "Configure user hyprland configuration"
      ansible.builtin.blockinfile:
        path: "{{ ansible_facts['env']['HOME'] }}/.config/hypr/hyprland.conf"
        state: "present"
        prepend_newline: true
        append_newline: true
        marker: "# ==== {mark} ANSIBLE HYPRLAND CONFIG"
        block: |
          # System defaults
          source = /etc/hypr/hyprland.conf

    - name: "Configure user hypridle configuration"
      ansible.builtin.blockinfile:
        path: "{{ ansible_facts['env']['HOME'] }}/.config/hypr/hypridle.conf"
        state: "present"
        prepend_newline: true
        append_newline: true
        marker: "# ==== {mark} ANSIBLE HYPRLAND CONFIG"
        block: |
          # System defaults
          source = /etc/hypr/hypridle.conf

- name: "Copy hyprland scripts"
  become: true
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: "0755"
  loop:
    - src: "scripts/launch-tui"
      dest: "/etc/hypr/scripts/launch-tui"
    - src: "scripts/brightness.sh"
      dest: "/etc/hypr/scripts/brightness.sh"
    - src: "scripts/volume.sh"
      dest: "/etc/hypr/scripts/volume.sh"
    - src: "scripts/sunset.sh"
      dest: "/etc/hypr/scripts/sunset.sh"
    - src: "scripts/wifi.sh"
      dest: "/etc/hypr/scripts/wifi.sh"
    - src: "scripts/bluetooth.sh"
      dest: "/etc/hypr/scripts/bluetooth.sh"
