---
- name: "Include OS-specific tasks"
  ansible.builtin.include_tasks: "install-{{ ansible_facts['os_family'] | lower }}.yml"

- name: "Create config directories"
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: "directory"
    mode: "0755"
  loop:
    - "/etc/mpv"

- name: "Configure system defaults"
  become: true
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: "0644"
  loop:
    - src: "mpv.conf"
      dest: "/etc/mpv/mpv.conf"
    - src: "input.conf"
      dest: "/etc/mpv/input.conf"

- name: "Configure xdg-mime defaults"
  ansible.builtin.shell: |
    xdg-mime default mpv.desktop video/mp4
    xdg-mime default mpv.desktop video/mpeg
    xdg-mime default mpv.desktop video/ogg
    xdg-mime default mpv.desktop application/ogg
    xdg-mime default mpv.desktop video/webm
    xdg-mime default mpv.desktop video/quicktime
  changed_when: false
