---
- name: "Enable multilib repository"
  become: true
  ansible.builtin.blockinfile:
    path: "/etc/pacman.conf"
    block: |
      [multilib]
      Include = /etc/pacman.d/mirrorlist
    marker: "# {mark} ANSIBLE NVIDIA"
  register: "nvidia_gtx1060_multilib"

- name: "Update pacman cache"
  # noqa no-handler as this needs to run if the pacman configuration changes immediatly
  # otherwise, it will fail to update the mirrorlist and fail to query the info about the needed libs
  become: true
  community.general.pacman:
    update_cache: true
  when: "nvidia_gtx1060_multilib.changed"

- name: "Install libva NVIDIA driver"
  become: true
  ansible.builtin.package:
    name: "{{ nvidia_gtx1060_packages }}"
    state: "present"

- name: "Install NVIDIA driver from AUR"
  become: true
  become_user: "aur_builder"
  kewlfft.aur.aur:
    name: "{{ nvidia_gtx1060_aur_packages }}"
    state: "present"
    use: "yay"

- name: "Configure NVIDIA DRM kernel mode setting"
  become: true
  ansible.builtin.template:
    src: "nvidia.conf.j2"
    dest: "/etc/modprobe.d/nvidia.conf"
    mode: "0644"
  notify:
    - "Rebuild initramfs"
    - "Require reboot"
  tags:
    # Since the /etc/mkinitcpio isn't available on the docker container
    # Ignore this for testing,
    - "molecule-notest"

- name: "Get current mkinitcpio MODULES"
  become: true
  ansible.builtin.shell: |
    set -euo pipefail
    grep '^MODULES=' /etc/mkinitcpio.conf | sed 's/MODULES=(\(.*\))/\1/'
  # noqa var-naming[no-role-prefix] as it describes the current kernel modules and not the nvidia modules
  register: "current_kernel_modules"
  changed_when: false
  tags:
    # Since the /etc/mkinitcpio isn't available on the docker container
    # Ignore this for testing,
    - "molecule-notest"

- name: "Add NVIDIA modules to mkinitcpio"
  become: true
  vars:
    existing_modules: "{{ current_kernel_modules.stdout.split() | reject('in', nvidia_gtx1060_modules) | list }}"
    all_modules: "{{ existing_modules + nvidia_gtx1060_modules }}"
  ansible.builtin.lineinfile:
    path: "/etc/mkinitcpio.conf"
    regexp: "^MODULES=\\(.*\\)"
    line: "MODULES=({{ all_modules | join(' ') }})"
  notify:
    - "Rebuild initramfs"
    - "Require reboot"
  tags:
    # Since the /etc/mkinitcpio isn't available on the docker container
    # Ignore this for testing,
    - "molecule-notest"
