---
- name: "Archlinux configure"
  gather_facts: true
  hosts:
    - archlinux.local
  roles:
    - role: "locales"
    - role: "timezone"
    - role: "yay"
    - role: "font"
    - role: "aur_font"
    - role: "which"
    - role: "bash"
    - role: "man"
    - role: "jq"
    - role: "ag"
    - role: "tmux"
    - role: "zoxide"
    - role: "wireguard"
    - role: "go"
    - role: "python"
    - role: "docker"
    - role: "podman"
    - role: "ansible"
    - role: "rsync"
    - role: "gpg"
    - role: "git"
    - role: "git-crypt"
    - role: "dotfiles"
    - role: "password_store"
    - role: "vim"
    - role: "neomutt"
    - role: "firefox"
    - role: "chromium"
    - role: "obsidian"
    - role: "claude"
    - role: "alacritty"
    - role: "mpv"
    - role: "nvidia_gtx1060"
    - role: "btop"
    - role: "bluetui"
    - role: "wlctl"
    - role: "wiremix"
    - role: "waybar"
    - role: "hyprland"
  post_tasks:
    - name: "Reboot if required"
      become: true
      ansible.builtin.command: "shutdown -r now"
      async: 1
      poll: 0
      changed_when: true
      when: reboot_required | default(false)

- name: "Ubuntu configure"
  gather_facts: true
  hosts:
    - ubuntu.local
  roles:
    - role: "locales"
    - role: "timezone"
    - role: "font"
    - role: "bash"
    - role: "man"
    - role: "jq"
    - role: "ag"
    - role: "tmux"
    - role: "wireguard"
    - role: "go"
    - role: "python"
    - role: "docker"
    - role: "podman"
    - role: "ansible"
    - role: "gnome"
    - role: "rsync"
    - role: "gpg"
    - role: "git"
    - role: "git-crypt"
    - role: "dotfiles"
    - role: "password_store"
    - role: "vim"
    - role: "neomutt"
    - role: "firefox"
    - role: "obsidian"
  post_tasks:
    - name: "Reboot if required"
      become: true
      ansible.builtin.command: "shutdown -r now"
      async: 1
      poll: 0
      changed_when: true
      when: reboot_required | default(false)

- name: "Raspberry Pi configure"
  gather_facts: true
  hosts:
    - rpi5.local
  roles:
    - role: "locales"
    - role: "timezone"
    - role: "bash"
    - role: "man"
    - role: "jq"
    - role: "ag"
    - role: "wireguard"
    - role: "gateway"
    - role: "nginx"
    - role: "wg_portal"
    - role: "pihole"
    - role: "prometheus"
    - role: "grafana"
    - role: "gpg"
    - role: "git"
    - role: "git-crypt"
    - role: "dotfiles"
    - role: "password_store"
    - role: "vim"
    - role: "neomutt"
  post_tasks:
    - name: "Reboot if required"
      become: true
      ansible.builtin.command: "shutdown -r now"
      async: 1
      poll: 0
      changed_when: true
      when: reboot_required | default(false)
