---
- name: "Archlinux configure"
  gather_facts: true
  hosts:
    - archlinux.local
  environment:
    PATH: "{{ ansible_env.HOME }}/.local/bin:{{ ansible_env.PATH }}"
  roles:
    - role: "locales"
    - role: "timezone"
    - role: "wireguard"
    - role: "go"
    - role: "python"
    - role: "docker"
    - role: "podman"
    - role: "ansible"
    - role: "rsync"
    - role: "gpg"
    - role: "dotfiles"
    - role: "password_store"
    - role: "vim"

- name: "Ubuntu configure"
  gather_facts: true
  hosts:
    - ubuntu.local
  environment:
    PATH: "{{ ansible_env.HOME }}/.local/bin:{{ ansible_env.PATH }}"
  roles:
    - role: "locales"
    - role: "timezone"
    - role: "wireguard"
    - role: "go"
    - role: "python"
    - role: "docker"
    - role: "podman"
    - role: "ansible"
    - role: "gnome"
    - role: "rsync"
    - role: "gpg"
    - role: "dotfiles"
    - role: "password_store"
    - role: "vim"

- name: "Raspberry Pi configure"
  gather_facts: true
  hosts:
    - rpi5.local
  become: true
  roles:
    - role: "locales"
    - role: "timezone"
    - role: "wireguard"
    - role: "gateway"
    - role: "nginx"
    - role: "wg_portal"
    - role: "pihole"
    - role: "prometheus"
    - role: "grafana"
    - role: "gpg"
    - role: "dotfiles"
    - role: "password_store"
    - role: "vim"
