---
- name: "Enable multilib repository"
  become: true
  ansible.builtin.blockinfile:
    path: "/etc/pacman.conf"
    block: |
      [multilib]
      Include = /etc/pacman.d/mirrorlist
    marker: "# {mark} ANSIBLE MULTILIB"
  register: "multilib_enabled"

- name: "Update pacman cache"
  # noqa no-handler as this needs to run if the pacman configuration changes immediatly
  # otherwise, it will fail to update the mirrorlist and fail to query the info about the needed libs
  become: true
  community.general.pacman:
    update_cache: true
  when: "multilib_enabled.changed"
