/* vim: set filetype=jsonc : */
{
  "reload_style_on_change": true,
  "layer": "top",
  "position": "top",
  "spacing": 0,
  "height": 30,
  "margin-left": 10,
  "margin-right": 10,
  "margin-top": 5,
  "margin-bottom": 0,
  "modules-left": ["hyprland/workspaces"],
  "modules-center": ["clock"],
  "modules-right": [
    "network",
    "bluetooth",
    "pulseaudio",
    "backlight",
    "custom/sunset",
    "hyprland/language",
    "keyboard-state",
    "cpu",
    "battery"
  ],
  "hyprland/workspaces": {
    "on-click": "activate",
    "format": "{icon}",
    "format-icons": {
      // "1": "1",
      // "2": "2",
      // "3": "3",
      // "4": "4",
      "default": "",
      "active": ""
    },
    "persistent-workspaces": {
      "1": [],
      "2": [],
      "3": [],
      "4": []
    }
  },
  "clock": {
    "format": "󰸘 {0:L%a %b %d} -  {0:%H:%M}",
    "format-alt": "󰸘 {0:L%A %d %B %Y (W%V)} -  {0:%H:%M}",
    "tooltip": false,
    "on-click-right": "uwsm-app -- gnome-calendar"
  },
  "network": {
    "tooltip": true,
    "format-icons": ["󰤯", "󰤟", "󰤢", "󰤥", "󰤨"],
    "format": "{icon}",
    "format-wifi": "{icon}",
    "format-ethernet": "󰈀",
    "format-disconnected": "󰤮",
    "tooltip-format-wifi": "{essid} ({frequency} GHz)\n⇣{bandwidthDownBytes}  ⇡{bandwidthUpBytes}",
    "tooltip-format-ethernet": "⇣{bandwidthDownBytes}  ⇡{bandwidthUpBytes}",
    "tooltip-format-disconnected": "Disconnected",
    "interval": 5,
    "spacing": 1,
    "on-click": "/etc/hypr/scripts/wifi.sh --toggle",
    "on-click-right": "/etc/hypr/scripts/launch-tui wlctl"
  },
  "bluetooth": {
    "tooltip": true,
    "format-on": "󰂯",
    "format-off": "󰂲",
    "format-disabled": "󰂲",
    "format-connected": "󰂴",
    "format-no-controller": "",
    "tooltip-format-connected": "Devices connected: {num_connections}\n{device_enumerate}",
    "tooltip-format-enumerate-connected": "- {device_alias}\t{device_battery_percentage}% 󰂁",
    "on-click": "/etc/hypr/scripts/bluetooth.sh --toggle",
    "on-click-right": "/etc/hypr/scripts/launch-tui bluetui"
  },
  "pulseaudio": {
    "tooltip": true,
    "format": "{icon}",
    "tooltip-format": "Volume: {volume}% {icon}",
    "scroll-step": 5,
    "format-muted": "",
    "format-icons": {
      "default": ["", "", ""]
    },
    "on-click": "/etc/hypr/scripts/volume.sh --toggle-mute-vol",
    "on-click-right": "/etc/hypr/scripts/launch-tui wiremix"
  },
  "backlight": {
    "device": "intel_backlight",
    "format": "{icon}",
    "tooltip-format": "Brightness: {percent}% {icon}",
    "format-icons": ["", ""]
  },
  "hyprland/language": {
    "format": " {shortDescription}",
    "on-click": "hyprctl switchxkblayout all next"
  },
  "custom/sunset" : {
    "interval": "once",
    "tooltip": true,
    "return-type": "json",
    "format": "{icon}",
    "format-icons": {
      "on": "",
      "off": ""
    },
    "exec": "/etc/hypr/scripts/sunset.sh --status",
    "on-click": "/etc/hypr/scripts/sunset.sh --toggle",
    "signal": 6
  },
  "keyboard-state": {
{% if waybar_external_kbd_dev_path is defined %}
    "device-path": "{{ waybar_external_kbd_dev_path }}",
{% endif %}
    "numlock": false,
    "capslock": true,
    "format": {
      "capslock": "{icon}"
    },
    "format-icons": {
      "locked": "󰘲",
      "unlocked": ""
    }
  },
  "cpu": {
    "interval": 5,
    "format": "󰍛",
    "on-click": "/etc/xdg/waybar/scripts/launch-tui btop"
  },
  "battery": {
    "format": "{capacity}% {icon}",
    "format-discharging": "{icon}",
    "format-charging": "{icon}",
    "format-plugged": "",
    "format-icons": {
      "charging": ["󰢜", "󰂆", "󰂇", "󰂈", "󰢝", "󰂉", "󰢞", "󰂊", "󰂋", "󰂅"],
      "default": ["󰁺", "󰁻", "󰁼", "󰁽", "󰁾", "󰁿", "󰂀", "󰂁", "󰂂", "󰁹"]
    },
    "format-full": "󰂅",
    "tooltip-format-discharging": "{power:>1.0f}W↓ {capacity}%",
    "tooltip-format-charging": "{power:>1.0f}W↑ {capacity}%",
    "interval": 5,
    "states": {
      "warning": 20,
      "critical": 10
    }
  }
}
