---
- name: "Add sr.ht to known_hosts"
  ansible.builtin.known_hosts:
    name: "git.sr.ht"
    key: "git.sr.ht ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMZvRd4EtM7R+IHVMWmDkVU3VLQTSwQDSAvW0t2Tkj60"
    path: "{{ ansible_env.HOME }}/.ssh/known_hosts"
    state: present

- name: "Clone dotfiles git repo"
  ansible.builtin.git:
    repo: "{{ dotfiles_repo_url }}"
    dest: "{{ ansible_env.HOME }}/.rc"
    clone: true
    update: false
    single_branch: true
    version: main

- name: "Setup dotfiles"
  ansible.builtin.shell:
    cmd: "{{ dotfiles_setup_script }}"
    executable: /bin/bash
    creates: "{{ ansible_env.HOME }}/.bash_profile"
