CLOUDFLARE_DDNS_API_TOKEN={{ cloudflare_ddns_api_token | quote }}
CLOUDFLARE_DDNS_ZONE_ID={{ cloudflare_ddns_zone_id | quote }}
CLOUDFLARE_DDNS_RECORD_NAME={{ cloudflare_ddns_record_name | quote }}
FRITZBOX_URL={{ cloudflare_ddns_fritzbox_url | quote }}
FRITZBOX_USERNAME={{ cloudflare_ddns_fritzbox_username | quote }}
FRITZBOX_PASSWORD={{ cloudflare_ddns_fritzbox_password | quote }}
