---
hyprtheme_default_mono_font: "JetBrainsMono Nerd Font"
hyprtheme_default_theme: "everforest"
hyprtheme_themes:
  - "catppuccin"
  - "everforest"
  - "gruvbox"
  - "matte-black"
  - "osaka-jade"
  - "ristretto"
  - "tokyo-night"
