---
- name: "Ensure greetd is installed"
  become: true
  ansible.builtin.package:
    name: "{{ item }}"
    state: "present"
  loop:
    - "greetd"
    - "greetd-tuigreet"
  notify:
    - "Enable greetd"

- name: "Ensure greetd service override directory exists"
  become: true
  ansible.builtin.file:
    path: "/etc/systemd/system/greetd.service.d"
    state: "directory"
    mode: "0755"
