{
  "useCustom": true,
  "TitleFore": "{{ color4 }}",
  "TitleBack": "",
  "TitleInfo": "{{ color5 }}",
  "NormalTitle": "{{ color7 }}",
  "DimmedTitle": "{{ color8 }}",
  "SelectedTitle": "{{ color4 }}",
  "NormalDesc": "{{ color5 }}",
  "DimmedDesc": "{{ color8 }}",
  "SelectedDesc": "{{ color4 }}",
  "StatusMsg": "{{ color2 }}",
  "PinIndicatorColor": "{{ color1 }}",
  "SelectedBorder": "{{ color4 }}",
  "SelectedDescBorder": "{{ color4 }}",
  "FilteredMatch": "{{ color2 }}",
  "FilterPrompt": "{{ color3 }}",
  "FilterInfo": "{{ color15 }}",
  "FilterText": "{{ color7 }}",
  "FilterCursor": "{{ color11 }}",
  "HelpKey": "{{ color4 }}",
  "HelpDesc": "{{ color15 }}",
  "PageActiveDot": "{{ color4 }}",
  "PageInactiveDot": "{{ color8 }}",
  "DividerDot": "{{ color3 }}",
  "PreviewedText": "{{ color7 }}",
  "PreviewBorder": "{{ color3 }}"
}
