text-color = {{ foreground }}

prompt-color = {{ accent }}
prompt-background = {{ background }}

placeholder-color = {{foreground }}A8
placeholder-background = {{ background }}

input-color = {{ foreground }}
input-background = {{ background }}

# default-result-color = {{ foreground }}
default-result-background = {{ background }}

selection-color = {{ accent }}
selection-background = {{ background }}
# Matching portion of selection text
selection-match-color = {{ color5 }}

### Text cursor theme
text-cursor = false
# Supported values: bar, block, underscore
text-cursor-style = bar
text-cursor-thickness = 0


### Window theming
# Using 875px causes fractional pixelization of the floating menu
width = 874
height = 600
background-color = {{ background }}

outline-width = 0
outline-color = {{ accent }}

border-width = 2
border-color = {{ accent }}

corner-radius = 5
padding-top = 14
padding-bottom = 14
padding-left = 14
padding-right = 14
clip-to-padding = true
scale = true
