hl.on("hyprland.start", function()
  hl.exec_cmd("uwsm-app -- mako")
  hl.exec_cmd("uwsm-app -- waybar")
  hl.exec_cmd("uwsm-app -- swaybg -i ~/.config/hyprtheme/current/wallpaper -m fill")
  hl.exec_cmd("uwsm-app -- clipse -listen")
  hl.exec_cmd("uwsm-app -- hyprsunset")
end)
