-- Hyprland main configuration file
-- Inspired by omarchy setup

-- Use default configuration files
require("/etc/hypr/autostart.lua")
require("/etc/hypr/monitors.lua")
require("/etc/hypr/input.lua")
require("/etc/hypr/bindings.lua")
require("/etc/hypr/looknfeel.lua")
require("/etc/hypr/rules.lua")
