---
- name: "Ensure acl is installed"
  become: true
  ansible.builtin.package:
    name: "zoxide"
    state: "present"

- name: "Add zoxide to shell profile"
  ansible.builtin.blockinfile:
    path: "{{ ansible_facts['env']['HOME'] }}/.bashrc"
    state: "present"
    prepend_newline: true
    append_newline: true
    marker: "# ==== {mark} ANSIBLE ZOXIDE CONFIG"
    block: |
      if command -v zoxide 1>/dev/null 2>&1; then
        eval "$(zoxide init bash --cmd cd)"
      fi
