---
- name: "Ensure network_packages are installed"
  become: true
  ansible.builtin.apt:
    pkg: "{{ network_packages }}"
    state: "present"

- name: "Ensure avahi/dhcpcd packages are removed"
  become: true
  ansible.builtin.apt:
    pkg:
      - "avahi-daemon"
      - "avahi-utils"
      - "dhcpcd"
    state: "absent"
    autoremove: true
    purge: true
  tags:
    # NOTE: the gnome-core packages resinstalls the avahi packages
    # NOTE: the pipewire package reinstalls avahi packages
    # Disabling the idemopotence test to prevent always reporting changed
    - molecule-idempotence-notest
