http://{{ inventory_hostname }} {
	handle /certificate {
{% if caddy_pki_root_cert is defined %}
		root * /etc/caddy/pki
{% else %}
		root * {{ caddy_ca_dir }}
{% endif %}
		rewrite * /root.crt
		file_server
		header Content-Type "application/x-x509-ca-cert"
		header Content-Disposition "attachment; filename=root.crt"
	}
}
