{
{% if caddy_acme_email | length > 0 %}
	email {{ caddy_acme_email }}
{% endif %}
	cert_issuer internal {
		lifetime 720h
	}
{% if caddy_pki_root_cert is defined %}
	pki {
		ca local {
			root {
				format pem_file
				cert /etc/caddy/pki/root.crt
				key /etc/caddy/pki/root.key
			}
		}
	}
{% endif %}
	log {
		output file /var/log/caddy/caddy.log {
			roll_size 10mb
			roll_keep 5
		}
	}
{% if caddy_metrics_port | length > 0 %}
	metrics
{% endif %}
}

import /etc/caddy/sites/*.caddy
