---
- name: "Install gnome packages"
  become: true
  ansible.builtin.apt:
    name: "{{ gnome_packages }}"
    state: "present"
    install_recommends: false
  notify: "Require reboot"
  tags:
    # NOTE: the gnome-core packages resinstalls the avahi packages
    # Disabling the idemopotence test to prevent always reporting changed
    - molecule-idempotence-notest

- name: "Enable GDM display manager"
  become: true
  ansible.builtin.systemd_service:
    name: "gdm3"
    enabled: true
