ACTION=="add", SUBSYSTEM=="net", KERNEL=="wg*", TAG+="systemd", ENV{SYSTEMD_WANTS}="gateway-vpn-mode.service"
ACTION=="remove", SUBSYSTEM=="net", KERNEL=="wg*", RUN+="/usr/bin/systemctl start gateway-direct-mode.service"
