interface {{ gateway_router_interface }} {
    AdvSendAdvert on;
    AdvManagedFlag off;
    AdvOtherConfigFlag on;
    AdvDefaultPreference high;

    prefix {{ gateway_local_ipv6_subnet }} {
        AdvOnLink on;
        AdvAutonomous on;
        AdvRouterAddr on;
    };
};
