[Unit]
Description=Periodically ship AVM Fritz!Box event log

[Timer]
OnBootSec=1min
OnUnitActiveSec={{ fritzbox_6660_exporter_log_poll_interval }}
Unit=fritzbox_6660_exporter_log_shipper.service

[Install]
WantedBy=timers.target
