source = ~/.config/hyprtheme/current/hyprlock.conf

# Variables

general {
    hide_cursor = false
    ignore_empty_input = true
    fail_timeout = 5000
}

auth {
    fingerprint:enabled = true
}

animations {
    enabled = false
}

background {
    monitor =
    # path = ~/.config/hyprtheme/current/background
    color = $color
    blur_passes = 3
}

# Password input
input-field {
    monitor =
    font_family = $font
    font_color = $font_color

    placeholder_text = Enter Password
    fade_on_empty = false
    fail_text = <i>$FAIL ($ATTEMPTS)</i>

    shadow_passes = 0
    rounding = 50
    outline_thickness = 2
    inner_color = $inner_color
    outer_color = $outer_color
    check_color = $check_color

    size = 20%, 3%
    halign = center
    valign = center
}

# TIME
label {
    monitor =
    text = $TIME
    font_size = 108
    font_family = $font
    color = $font_color

    halign = right
    valign = top
    position = -30, 0
}

# DATE
label {
    monitor =
    text = cmd[update:60000] date +"%A, %d %B %Y" # update every 60 seconds
    font_size = 36
    font_family = $font
    color = $font_color

    halign = right
    valign = top
    position = -30, -150
}

# Keyboard switcher
label {
    monitor =
    text = $LAYOUT
    font_size = 12
    font_family = $font
    color = $font_color

    onclick = hyprctl switchxkblayout all next

    halign = left
    valign = top
    position = 10, -10
}

# Reboot
label {
    monitor =
    text = <span> 󰑙 </span>
    font_size = 36
    font_family = $font
    color = $font_color

    onclick = reboot

    halign = center
    valign = center
    position = 0, -150
}

# Power off
label {
    monitor =
    text = <span>  </span>
    font_size = 36
    font_family = $font
    color = $font_color

    onclick = shutdown now

    halign = center
    valign = center
    position = -150, -150
}

# Suspend
label {
    monitor =
    text = <span> 󰤄 </span>
    font_size = 36
    font_family = $font
    color = $font_color

    onclick = systemctl suspend

    halign = center
    valign = center
    position = 150, -150
}
