---
- name: "Include OS-specific variables"
  ansible.builtin.include_vars: "{{ ansible_os_family | lower }}.yml"

- name: "Ensure pass packages are installed"
  become: true
  ansible.builtin.package:
    name: "{{ password_store_packages }}"
    state: "present"

- name: "Clone password store git repo"
  ansible.builtin.git:
    repo: "{{ password_store_repo_url }}"
    dest: "{{ ansible_env.HOME }}/.password-store"
    clone: true
    update: false
    single_branch: true
    version: "refs/heads/main"
    force: true
