---
- name: "Include OS-specific variables"
  ansible.builtin.include_vars: "{{ ansible_os_family | lower }}.yml"

- name: "Ensure pass packages are installed"
  become: true
  ansible.builtin.package:
    name: "{{ password_store_packages }}"
    state: "present"

- name: "Add GitHub to known_hosts"
  ansible.builtin.known_hosts:
    name: "github.com"
    key: "github.com ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOMqqnkVzrm0SdG6UOoqKLsabgH5C9okWi0dh2l9GKJl"
    path: "{{ ansible_env.HOME }}/.ssh/known_hosts"
    state: present

- name: "Clone password store git repo"
  ansible.builtin.git:
    repo: "{{ password_store_repo_url }}"
    dest: "{{ ansible_env.HOME }}/.password-store"
    clone: true
    update: false
    single_branch: true
    version: main
