[connection]
id=vmbr0
type=bridge
interface-name=vmbr0
autoconnect=true

[bridge]
stp=false

[ipv4]
method=manual
addresses={{ network_ipv4_address }}/{{ network_ipv4_prefix | default(24) }}
gateway={{ network_ipv4_gateway }}
{% if network_ipv4_dns is defined %}
dns={{ network_ipv4_dns }}
{% endif %}

[ipv6]
addr-gen-mode=default
{% if network_ipv6_address is defined %}
method=manual
addresses={{ network_ipv6_address }}
gateway={{ network_ipv6_gateway }}
{% if network_ipv6_dns is defined %}
dns={{ network_ipv6_dns }}
{% endif %}
{% else %}
method=disabled
{% endif %}
