[connection]
id=ethernet
type=ethernet
autoconnect=true
{% if network_bridge_interface is defined %}
interface-name={{ network_bridge_interface }}
# NOTE: master/slave-type keyfile keys deprecated in NM 1.46, replaced by controller/port-type
master=vmbr0
slave-type=bridge
{% endif %}

[ethernet]
cloned-mac-address=permanent

[ipv4]
{% if network_bridge_interface is defined %}
method=disabled
{% elif network_ipv4_address is defined %}
method=manual
addresses={{ network_ipv4_address }}
gateway={{ network_ipv4_gateway }}
{% if network_ipv4_dns is defined %}
dns={{ network_ipv4_dns }}
{% endif %}
{% else %}
method=auto
{% endif %}

[ipv6]
addr-gen-mode=default
{% if network_bridge_interface is defined %}
method=disabled
{% else %}
method=auto
{% endif %}

[proxy]
