[connection]
id=ethernet
type=ethernet
autoconnect=true

[ethernet]

[ipv4]
{% if network_ipv4_address is defined %}
method=manual
addresses={{ network_ipv4_address }}
gateway={{ network_ipv4_gateway  }}
{% else %}
method=auto
{% endif %}

[ipv6]
addr-gen-mode=default
method=auto

[proxy]
