[connection]
id=ethernet
type=ethernet
autoconnect=true

[ethernet]

[ipv4]
{% if network_ipv4_address is defined %}
method=manual
addresses={{ network_ipv4_address }}
gateway={{ network_ipv4_gateway }}
{% if network_ipv4_dns is defined %}
dns={{ network_ipv4_dns }}
{% endif %}
{% else %}
method=auto
{% endif %}

[ipv6]
addr-gen-mode=default
{% if network_ipv6_address is defined %}
method=manual
addresses={{ network_ipv6_address }}
gateway={{ network_ipv6_gateway }}
{% if network_ipv6_dns is defined %}
dns={{ network_ipv6_dns }}
{% endif %}
{% else %}
method=auto
{% endif %}

[proxy]
