---
- name: "Ensure waybar packages are installed"
  become: true
  ansible.builtin.package:
    name:
      - "{{ item }}"
    state: "present"
  loop:
    - "waybar"

- name: "Ensure waybar configuration directory exists"
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: "directory"
    mode: "0755"
  loop:
    - "/etc/xdg/waybar"
    - "/etc/xdg/waybar/scripts"

- name: "Configure waybar defaults"
  become: true
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: "{{ item.mode }}"
  loop:
    - src: "waybar/config.jsonc.j2"
      dest: "/etc/xdg/waybar/config.jsonc"
      mode: "0644"
    - src: "waybar/style.css.j2"
      dest: "/etc/xdg/waybar/style.css"
      mode: "0644"
    - src: "waybar/scripts/toggle-bt"
      dest: "/etc/xdg/waybar/scripts/toggle-bt"
      mode: "0755"
    - src: "waybar/scripts/toggle-wifi"
      dest: "/etc/xdg/waybar/scripts/toggle-wifi"
      mode: "0755"
    - src: "waybar/scripts/launch-tui"
      dest: "/etc/xdg/waybar/scripts/launch-tui"
      mode: "0755"
    - src: "waybar/scripts/kb-layout-cycle"
      dest: "/etc/xdg/waybar/scripts/kb-layout-cycle"
      mode: "0755"
