---
- name: "Ensure waybar packages are installed"
  become: true
  ansible.builtin.package:
    name: "waybar"
    state: "present"

# This is requried for the keyboard-stats module to work
- name: "Ensure USER is added to input group"
  become: true
  ansible.builtin.user:
    name: "{{ username }}"
    groups: "input"
    append: true

- name: "Ensure waybar configuration directory exists"
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: "directory"
    mode: "0755"
  loop:
    - "/etc/xdg/waybar"
    - "/etc/xdg/waybar/scripts"

- name: "Configure waybar defaults"
  become: true
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: "0644"
  loop:
    - src: "waybar/config.jsonc.j2"
      dest: "/etc/xdg/waybar/config.jsonc"
    - src: "waybar/style.css.j2"
      dest: "/etc/xdg/waybar/style.css"
