[Desktop Entry]
Name=Hyprland (Custom Config)
Comment=An intelligent dynamic tiling Wayland compositor with system config
Exec=env HYPRLAND_CONFIG=/etc/hypr/hyprland.conf Hyprland
Type=Application
DesktopNames=Hyprland
