# vim: set filetype=hyprlang.ansible :

# Scroll nicely in the terminal
windowrule = scroll_touchpad 1.5, match:class (Alacritty|kitty)
windowrule = scroll_touchpad 0.2, match:class com.mitchellh.ghostty

# Floating windows
windowrule = float on, match:tag floating-window
windowrule = center on, match:tag floating-window
windowrule = size 875 600, match:tag floating-window
windowrule = stay_focused on, match:tag floating-window

windowrule = tag +floating-window, match:class work.kartoffln.(bluetui|btop|wiremix|wlctl|clipse)
windowrule = float on, match:class org.gnome.Calculator

# Picture-in-picture overlays
windowrule = tag +pic-in-pic, match:title (Picture.?in.?[Pp]icture)
windowrule = float on, match:tag pic-in-pic
windowrule = pin on, match:tag pic-in-pic
windowrule = size 600 338, match:tag pic-in-pic
windowrule = opacity 1.0 override 1.0 override, match:tag pic-in-pic
windowrule = move (monitor_w-window_w-40) (monitor_h*0.04), match:tag pic-in-pic

# Browser types
windowrule = tag +chromium-based-browser, match:class ((google-)?[cC]hrom(e|ium)|[bB]rave-browser|[mM]icrosoft-edge|Vivaldi-stable|helium)
windowrule = tag +firefox-based-browser, match:class ([fF]irefox|zen|librewolf)
windowrule = opacity 1.0 override 0.97 override, match:tag chromium-based-browser
windowrule = opacity 1.0 override 0.97 override, match:tag firefox-based-browser

# Pinentry windows
windowrule = match:class (pinentry-)(.*), stay_focused on

# Steam windows
windowrule = float on, match:class steam
windowrule = center on, match:class steam, match:title Steam
windowrule = opacity 1.0 override 1.0 override, match:title Steam
windowrule = size 460 800, match:class steam, match:title Friends List
