css=/cgit.css
logo=/cgit.png

virtual-root=/

repo.group=personal

root-title={{ cgit_title }}
root-desc={{ cgit_description }}

clone-prefix={{ cgit_clone_prefix }}

enable-index-links=1
enable-log-filecount=1
enable-log-linecount=1
enable-blame=1
enable-tree-linenumbers=1

max-stats=year

scan-path={{ cgit_repos_dir }}
