#!/sbin/openrc-run

description="Cloudflare Tunnel"
command="/usr/local/bin/cloudflared"
command_args="tunnel --no-autoupdate run --token {{ cloudflared_tunnel_token }}"
command_background=true
pidfile="/run/cloudflared.pid"
depend() {
    need net
}
