---
# Using raspberry pi as gateway (VPN) and DNS sinkhole (pihole)
network_ipv4_address: "10.0.0.201"
network_ipv4_gateway: "10.0.0.254"
network_ipv4_dns: "10.0.0.254"
network_ipv6_address: "fd5c:fd8b:2b8c::201/64"
network_ipv6_gateway: "fd5c:fd8b:2b8c::254"
network_ipv6_dns: "fd5c:fd8b:2b8c::254"

python_versions:
  - "3.13.7"
  - "3.12.11"
ansible_core_version: "2.18.7"
molecule_version: "25.7.0"

wireguard_connections:
  wg-vpn1: |
    [Interface]
    PrivateKey = your_private_key_here
    Address = 10.2.0.2/32
    DNS = 10.2.0.1

    [Peer]
    PublicKey = server_public_key
    AllowedIPs = 0.0.0.0/0
    Endpoint = vpn.com:51820
