---
network_ipv4_address: "10.0.0.104"
network_ipv4_gateway: "10.0.0.254"
network_ipv4_dns: "10.0.0.254"

pve_lxc_id: 104
pve_lxc_hostname: "caldav"
pve_lxc_template: "alpine-3.23-default_20260116_amd64.tar.xz"
pve_lxc_disk: "local-lvm:4" # storage:sizeGB
pve_lxc_cores: 1
pve_lxc_memory: 256
pve_lxc_ip: "{{ network_ipv4_address }}/24"
pve_lxc_gateway: "{{ network_ipv4_gateway }}"
pve_lxc_dns: "{{ network_ipv4_dns }}"
pve_lxc_ssh_port: 2222
pve_lxc_ssh_public_key: "ssh-ed25519 AAAA...fMo"
pve_lxc_ssh_private_key: |
      -----BEGIN OPENSSH PRIVATE KEY-----
      b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAMwAAAAtzc2gtZW
      QyNTUxOQAAACAQ0GydCVLVXnXpzBxM6MbmRIDHNjC8dqZoFHgx1PiSgQAAAJi7TmCqu05g
      qgAAAAtzc2gtZWQyNTUxOQAAACAQ0GydCVLVXnXpzBxM6MbmRIDHNjC8dqZoFHgx1PiSgQ
      AAAEBgO+cOwV2j8gNZ/EugDk+vbi0eGrK125vRcE3FOtJJMRDQbJ0JUtVedenMHEzoxuZE
      gMc2MLx2pmgUeDHU+JKBAAAAEm1vbGVjdWxlLXRlc3Qtb25seQECAw==
      -----END OPENSSH PRIVATE KEY-----

radicale_hostname: "caldav.example.com"
radicale_rights_rules:
  - name: "root"
    user: ".+"
    collection: ""
    permissions: "R"
  - name: "owner-only"
    user: ".+"
    collection: "{user}(/.*)?"
    permissions: "RWrw"
# list of {name, password_hash} dicts; password_hash generated with htpasswd or mkpasswd
# -R/-C set the bcrypt cost (default 5 is low; 12 is a reasonable minimum)
# mkpasswd -m bcrypt -R 12 changeme
# htpasswd -nbB -C 12 user changeme | cut -d: -f2
radicale_users:
  - name: "alice"
    password_hash: "$2y$05$h9PuTgv/bjaDUemm3oLHTeFZ5T0OMFQVFtrSaoVw6mero0kZXT.e2"
  - name: "bob"
    password_hash: "$2y$12$rJu1JeJJKth1xTd4NY501eTIl6TEI1B0CiY3s.gmz13rJpRxXQoeS"
# Shared collections between users; each collection has an owner and a list of members
# collection must be a flat name (no "/") for the symlink task to work unattended
radicale_collections:
  - owner: "alice"
    collection: "e8eb7e18-7686-7077-585e-f730c632a60e"
    members: ["bob"]

backup_name: "caldav"
backup_paths:
  - "/var/lib/radicale/collections"
backup_cron_schedule: "0 0 * * 0"
backup_systemd_schedule: "Sun *-*-*"
backup_repo: "s3:http://10.0.0.254:3900/backups"
backup_s3_region: "garage"
backup_access_key_id: "GK_CHANGEME"
backup_secret_access_key: "CHANGEME"
backup_password: "changeme"

ufw_rules:
  - rule: "allow"
    port: "{{ ssh_port }}"
    protocol: "tcp"
    direction: "in"
    from: "10.0.0.0/24"
  - rule: "allow"
    port: "{{ radicale_port }}"
    protocol: "tcp"
    direction: "in"
    from: "{{ hostvars['proxy.home.arpa'].network_ipv4_address }}"
