---
network_interface: "eth0"
network_ipv4_address: "10.0.0.254"
network_ipv4_gateway: "10.0.0.1"
network_ipv6_address: "fd5c:fd8b:2b8c::254/64"
network_ipv6_gateway: "fd5c:fd8b:2b8c::1"

# TOTP generator: `openssl rand -base64 32 | head -c "20" | base32`
pihole_totp_secret: "CHANGEME"
pihole_password: "{{ ('changeme' | hash('sha256') | hash('sha256'))[:64] }}"
pihole_interface: "{{ network_interface }}"
pihole_dhcp_enabled: true
pihole_dhcp_start: "10.0.0.100"
pihole_dhcp_end: "10.0.0.199"
pihole_dhcp_router: "10.0.0.200"
pihole_dhcp_hosts:
  - "ff:ff:ff:ff:ff:fe, 10.0.0.252,TV"
  - "ff:ff:ff:ff:ff:ff, 10.0.0.253,Printer"

wireguard_autostart_connection: "wg-vpn2"
wireguard_connections:
  wg-vpn2: |
    [Interface]
    PrivateKey = your_private_key_here
    Address = 10.2.0.2/32
    DNS = 10.2.0.1

    [Peer]
    PublicKey = server_public_key
    AllowedIPs = 0.0.0.0/0
    Endpoint = vpn.com:51820

gateway_enabled: true
gateway_router_interface: "{{ network_interface }}"
gateway_local_ipv4_subnet: "10.0.0.0/24"

prometheus_host: "localhost"
prometheus_port: 9090
prometheus_retention: "15d"
prometheus_scrape_interval: "15s"
prometheus_node_exporter_port: 9100
grafana_port: 3000
grafana_admin_user: "admin"
grafana_admin_password: "changeme"
grafana_database_type: "sqlite3"
grafana_dashboards:
  - id: 1860
    revision: 37
    name: "node-exporter-full"
    datasource_mappings:
      - key: "000000001"
        value: "prometheus"
  - id: 3662
    revision: 2
    name: "prometheus-overview"
    datasource_mappings:
      - key: "${DS_THEMIS}"
        value: "prometheus"
  - id: 11074
    revision: 9
    name: "node-exporter-prometheus"
    datasource_mappings:
      - key: "${DS__VICTORIAMETRICS}"
        value: "prometheus"
