---
network_ipv4_address: "10.0.0.200"
network_ipv4_gateway: "10.0.0.1"

network_ipv6_address: "fd5c:fd8b:2b8c::200/64"
network_ipv6_gateway: "fd5c:fd8b:2b8c::1"

# TOTP generator: `openssl rand -base64 32 | head -c "20" | base32`
pihole_totp_secret: "CHANGEME"
pihole_password: "{{ ('changeme' | hash('sha256') | hash('sha256'))[:64] }}"
pihole_dhcp_enabled: true
pihole_dhcp_start: "10.0.0.100"
pihole_dhcp_end: "10.0.0.199"
pihole_dhcp_router: "10.0.0.200"
pihole_dhcp_hosts:
  - "ff:ff:ff:ff:ff:fe, 10.0.0.252,TV"
  - "ff:ff:ff:ff:ff:ff, 10.0.0.253,Printer"

wireguard_autostart_connection: "protonvpn-us-1"
wireguard_connections:
  protonvpn-us-1: |
    [Interface]
    PrivateKey = your_private_key_here
    Address = 10.2.0.2/32
    DNS = 10.2.0.1

    [Peer]
    PublicKey = server_public_key
    AllowedIPs = 0.0.0.0/0
    Endpoint = us-1.protonvpn.com:51820
