---
network_interface: "eth0"
network_ipv4_address: "10.0.0.254"
network_ipv4_gateway: "10.0.0.1"

# Generate with: ssh-keygen -t ed25519 -f host_key -C '' -N ''
ssh_public_key: "ssh-ed25519 AAAA...fMo"
ssh_private_key: |
  -----BEGIN OPENSSH PRIVATE KEY-----
  b3BlbnNzaC1r..........................................................
  ......................................................................
  ...................BAgME
  -----END OPENSSH PRIVATE KEY-----

# TOTP generator: `openssl rand -base64 32 | head -c "20" | base32`
pihole_totp_secret: "CHANGEME"
pihole_admin_password: "{{ ('changeme' | hash('sha256') | hash('sha256'))[:64] }}"
pihole_interface: "{{ network_interface }}"
pihole_hostname: "dns.internal"
pihole_dhcp_enabled: true
pihole_dhcp_start: "10.0.0.10"
pihole_dhcp_end: "10.0.0.99"
pihole_dhcp_router: "{{ network_ipv4_address }}"
pihole_dhcp_hosts:
  - "ff:ff:ff:ff:ff:fe, 10.0.0.252,TV"
  - "ff:ff:ff:ff:ff:ff, 10.0.0.253,Printer"
pihole_dns_hosts:
  - "{{ network_ipv4_address }} rpi5.lan"
  - "{{ hostvars['desktop.local'].network_ipv4_address }} desktop.lan"
  - "{{ hostvars['laptop.local'].network_ipv4_address }} laptop.lan"
  - "{{ hostvars['pve.local'].network_ipv4_address }} pve.lan"
  # *.home.arpa
  - "{{ network_ipv4_address }} dns.home.arpa"
  - "{{ network_ipv4_address }} vpn.home.arpa"
  - "{{ network_ipv4_address }} s3.home.arpa"
  - "{{ hostvars['monitor.home.arpa'].network_ipv4_address }} monitor.home.arpa"
  - "{{ hostvars['git.home.arpa'].network_ipv4_address }} git.home.arpa"
  - "{{ hostvars['tailscale.home.arpa'].network_ipv4_address }} tailscale.home.arpa"
  - "{{ hostvars['caldav.home.arpa'].network_ipv4_address }} caldav.home.arpa"
  - "{{ hostvars['proxy.home.arpa'].network_ipv4_address }} proxy.home.arpa"
  - "{{ hostvars['logs.home.arpa'].network_ipv4_address }} logs.home.arpa"
  - "{{ hostvars['metrics.home.arpa'].network_ipv4_address }} metrics.home.arpa"
  - "{{ hostvars['subscriptions.home.arpa'].network_ipv4_address }} subscriptions.home.arpa"
  # *.internal, always through the centralized proxy, with TLS
  - "{{ hostvars['proxy.home.arpa'].network_ipv4_address }} {{ pihole_hostname }}"
  - "{{ hostvars['proxy.home.arpa'].network_ipv4_address }} {{ wg_portal_hostname }}"
  - "{{ hostvars['proxy.home.arpa'].network_ipv4_address }} monitor.internal"
  - "{{ hostvars['proxy.home.arpa'].network_ipv4_address }} metrics.internal"
  - "{{ hostvars['proxy.home.arpa'].network_ipv4_address }} {{ garage_webui_hostname }}"
  - "{{ hostvars['proxy.home.arpa'].network_ipv4_address }} vm.internal"
  - "{{ hostvars['proxy.home.arpa'].network_ipv4_address }} subscriptions.internal"

wireguard_autostart_connection: "vpn2"
wireguard_connections:
  # All wireguard config files are prefixed (internally) with wg-
  # The following connection/interface will be named wg-vpn2
  vpn2: |
    [Interface]
    PrivateKey = your_private_key_here
    Address = 10.2.0.2/32
    DNS = 10.2.0.1

    [Peer]
    PublicKey = server_public_key
    AllowedIPs = 0.0.0.0/0
    Endpoint = vpn.com:51820

wg_portal_password: "{{ ('changeme' | hash('sha256') | hash('sha256'))[:64] }}"
wg_portal_port: "8080"
wg_portal_hostname: "vpn.internal"

gateway_enabled: true
gateway_router_interface: "{{ network_interface }}"
gateway_local_ipv4_subnet: "10.0.0.0/24"

mount_device: "PARTLABEL=backup"
garage_admin_port: "3903"
garage_rpc_secret: "changeme"
garage_access_key_id: "GK_changeme"
garage_secret_access_key: "changeme"
garage_metrics_token: "changeme"
garage_admin_token: "changeme"
garage_bucket: "restic"
garage_data_dir: "/backup/garage/data"
garage_meta_dir: "/backup/garage/meta"

garage_webui_hostname: "s3.internal"
garage_webui_auth_user: "changeme"
# generate with: htpasswd -nbBC 10 user password
garage_webui_auth_password_hash: "changeme"

# Dedicated Fritz!Box user with the "FRITZ!Box Settings" permission; also enable
# "Transmit status information over UPnP" (Home Network > Network > Network Settings).
fritzbox_6660_exporter_gateway_url: "http://{{ network_ipv4_gateway }}:49000"
fritzbox_6660_exporter_username: "monitoring"
fritzbox_6660_exporter_password: "changeme"

awscli_profile_name: "garage"
awscli_region: "garage"
awscli_endpoint_url: "http://127.0.0.1:{{ garage_s3_port }}"
awscli_access_key_id: "{{ garage_access_key_id }}"
awscli_secret_access_key: "{{ garage_secret_access_key }}"

ufw_rules:
  - rule: "allow"
    port: "{{ ssh_port }}"
    protocol: "tcp"
    direction: "in"
    from: "10.0.0.0/24"
  - rule: "allow"
    port: 53
    protocol: "tcp"
    direction: "in"
    from: "10.0.0.0/24"
  - rule: "allow"
    port: 53
    protocol: "udp"
    direction: "in"
    from: "10.0.0.0/24"
  - rule: "allow"
    port: 67
    protocol: "udp"
    direction: "in"
    interface: "{{ network_interface }}"
  - rule: "allow"
    port: "{{ garage_webui_port }}"
    protocol: "tcp"
    direction: "in"
    from: "10.0.0.0/24"
  - rule: "allow"
    port: "{{ pihole_port }}"
    protocol: "tcp"
    direction: "in"
    from: "10.0.0.0/24"
  - rule: "allow"
    port: "{{ wg_portal_port }}"
    protocol: "tcp"
    direction: "in"
    from: "10.0.0.0/24"
  - rule: "allow"
    port: "{{ node_exporter_port }}"
    protocol: "tcp"
    direction: "in"
    from: "10.0.0.0/24"
  - rule: "allow"
    port: "{{ fritzbox_6660_exporter_port }}"
    protocol: "tcp"
    direction: "in"
    from: "{{ hostvars['metrics.home.arpa'].network_ipv4_address }}"
  - rule: "allow"
    port: "{{ blackbox_exporter_port }}"
    protocol: "tcp"
    direction: "in"
    from: "{{ hostvars['metrics.home.arpa'].network_ipv4_address }}"
  - rule: "allow"
    port: "{{ garage_admin_port }}"
    protocol: "tcp"
    direction: "in"
    from: "10.0.0.0/24"
  - rule: "allow"
    port: "{{ garage_s3_port }}"
    protocol: "tcp"
    direction: "in"
    from: "10.0.0.0/24"
