---
- name: "Include OS-specific tasks"
  ansible.builtin.include_tasks: "install-{{ ansible_os_family | lower }}.yml"

- name: "Ensure pulseaudio services are masked"
  ansible.builtin.systemd_service:
    name: "pulseaudio"
    masked: true
    state: "stopped"
    scope: "user"

- name: "Ensure pipewire services are restarted"
  ansible.builtin.systemd_service:
    name: "{{ item }}"
    enabled: "true"
    state: "started"
    scope: "user"
  loop:
    - "pipewire"
    - "pipewire-pulse"
    - "wireplumber"
