---
- name: "Ensure elephant (and providers) are installed"
  become: true
  become_user: "aur_builder"
  kewlfft.aur.aur:
    name: "{{ item }}"
    state: "present"
    use: "yay"
  loop: "{{ elephant_packages }}"

- name: "Create systemd user service"
  become: true
  ansible.builtin.copy:
    src: "elephant.service"
    dest: "/usr/lib/systemd/user/elephant.service"
    mode: "0644"
  notify:
    - "Reload systemd"
    - "Restart elephant"

- name: "Configure elephant defaults"
  become: true
  ansible.builtin.copy:
    src: "elephant/{{ item }}"
    dest: "/etc/xdg/elephant/{{ item }}"
    mode: "0644"
  loop:
    - "elephant.toml"
    - "archlinuxpkgs.toml"
    - "calc.toml"
    - "clipboard.toml"
    - "desktopapplications.toml"
    - "files.toml"
    - "providerlist.toml"
    - "runner.toml"
    - "windows.toml"
  notify:
    - "Restart elephant"
