---
- name: "Ensure wl-clipboard is installed"
  become: true
  ansible.builtin.package:
    name: "wl-clipboard"
    state: "present"

- name: "Ensure clipse is installed"
  become: true
  become_user: "aur_builder"
  kewlfft.aur.aur:
    name: "clipse"
    state: "present"
    use: "yay"

- name: "Create system config directory"
  become: true
  ansible.builtin.file:
    path: "/etc/xdg/clipse"
    state: "directory"
    mode: "0755"

- name: "Configure system defaults"
  become: true
  ansible.builtin.copy:
    src: "config.json"
    dest: "/etc/xdg/clipse/config.json"
    mode: "0644"
