---
global:
  scrape_interval: {{ prometheus_scrape_interval }}
  evaluation_interval: {{ prometheus_scrape_interval }}

rule_files:

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: {{ prometheus_targets | to_yaml }}

  - job_name: 'node'
    static_configs:
      - targets: {{ prometheus_node_exporter_targets | to_yaml }}
    scrape_interval: {{ prometheus_scrape_interval }}
    metrics_path: /metrics
{% for job in prometheus_extra_scrape_configs %}

  - job_name: '{{ job.name }}'
    static_configs:
      - targets: {{ job.targets | to_yaml }}
    scrape_interval: {{ job.scrape_interval | default(prometheus_scrape_interval) }}
    metrics_path: {{ job.metrics_path | default('/metrics') }}
{% if job.params is defined %}
{{ {'params': job.params} | to_nice_yaml(indent=2) | trim | indent(4, first=true) }}
{% endif %}
{% if job.relabel_configs is defined %}
{{ {'relabel_configs': job.relabel_configs} | to_nice_yaml(indent=2) | trim | indent(4, first=true) }}
{% endif %}
{% if job.bearer_token is defined %}
    authorization:
      credentials: {{ job.bearer_token }}
{% endif %}
{% endfor %}
