[Unit]
Description=Prometheus Blackbox Exporter
After=network-online.target
Wants=network-online.target

[Service]
ExecStart={{ blackbox_exporter_install_dir }}/blackbox_exporter \
    --config.file=/etc/blackbox_exporter/config.yml \
    --web.listen-address={{ blackbox_exporter_listen_address }}
User=blackbox_exporter
Group=blackbox_exporter
Restart=always
RestartSec=10
AmbientCapabilities=CAP_NET_RAW
CapabilityBoundingSet=CAP_NET_RAW
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_NETLINK
LockPersonality=true

[Install]
WantedBy=multi-user.target
