---
- name: "Ensure mako is installed"
  become: true
  ansible.builtin.package:
    name:
      - "libnotify"
      - "mako"
    state: "present"

- name: "Create config directories"
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: "directory"
    mode: "0755"
  loop:
    - "/etc/xdg/mako"
    - "{{ ansible_facts['env']['HOME'] }}/.config/mako"

- name: "Configure system defaults"
  become: true
  ansible.builtin.template:
    src: "mako/config.j2"
    dest: "/etc/xdg/mako/config"
    mode: "0644"

- name: "Configure user defaults"
  ansible.builtin.blockinfile:
    path: "{{ ansible_facts['env']['HOME'] }}/.config/mako/config"
    state: "present"
    prepend_newline: true
    append_newline: true
    marker: "# ==== {mark} ANSIBLE MAKO CONFIG"
    block: |
      # Include Theme colors (must come first)
      include={{ ansible_facts['env']['HOME'] }}/.config/hyprtheme/current/mako.ini
      # System defaults
      include=/etc/xdg/mako/config
