---
- name: "Ensure mako is installed"
  become: true
  ansible.builtin.package:
    name:
      - "libnotify"
      - "mako"
    state: "present"

- name: "Create system config directory"
  become: true
  ansible.builtin.file:
    path: "/etc/xdg/mako"
    state: "directory"
    mode: "0755"

- name: "Configure system defaults"
  become: true
  ansible.builtin.template:
    src: "mako/config.j2"
    dest: "/etc/xdg/mako/config"
    mode: "0644"
